#div1 {
  height: 150px;
  width: 150px;
  border: 5px solid black;
  margin: 50px;
  padding: 10px;

  background-color: rgba(51, 255, 0, 0.851);

  /* display: ; */
}
#div1:hover {
  background-color: blueviolet;
  transition-duration: 1s;
  transition-delay: 1s;
  border-radius: 50%;
}
#Opacity {
  height: 170px;
  width: 400px;

  border: 2px solid black;

  opacity: 0.8;

  background-color: gold;
}

#Opacity:hover {
  background-color: crimson;
  transition: 2s;

  border-radius: 50%;
}
button {
  width: 150px;
  height: 50px;
  border: 2px solid black;
  background-color: rgb(255, 0, 0);

  font-size: 20px;
  border-radius: 5%;

  position: relative;
  /* top:20px; */
  left: 30%;
}
h1 {
  position: relative;
  /* top:20px; */
  left: 20%;
}
button:hover {
  width: 80px;
  height: 80px;

  background-color: blueviolet;
  transition: 1s;
  border-radius: 50%;

  position: relative;
  top: 0px;
  left: 35%;
}
