<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h2>This is the Home Page</h2>
    <h3><%=1+2 %></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
      laudantium ipsam reiciendis, alias a adipisci distinctio cumque sint fugit
      at ex culpa accusamus magnam quia iure expedita pariatur atque. Illum!
    </p>
    <button>click me!</button>
  </body>
</html>
