* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.main_box {
  background: url("photo.jpg");
  height: 100vh;
  background-size: cover;
}

.btn_one  {
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.2s linear;

}
.btn_two i{
  color: gray;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 275px;
  opacity: 0;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.3s linear;

}

.sidebar_menu{
    position: fixed;
    left: -350px;

    height: 100vh;

    width: 300px;
    background-color: rgba(255,255,255.0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255,0.5);

    transition: all 0.3s linear;
}

.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 0 6px rgba(255, 255, 255,0.5);
  height: 60px;

}
.sidebar_menu .logo a{
  position: absolute;
  left: 40px;
  text-decoration: none;
  font-size: 1.5rem;
  color:white;

}

.menu{
  color: white;
  position: absolute;
  width: 100%;
  top: 80px;

}

li{
  margin:6px;
  padding: 14px 20px;

}
li a{
  text-decoration: none;
  color: white;
  font-size: 20px;

}

.menu i{
  padding-right: 20px;
}

.social_media {
  
  position: absolute;
  left: 25%;
  bottom: 50px;
  

}
.sidebar_menu .social_media i{
  color: white;
  opacity: 0.5;
  padding:0.5 ;
}
#check{
  display: none;
}

.sidebar_menu .menu li:hover{
  box-shadow: 0 0 6px rgba(255, 255, 255,0.5);
  transition: 1s;


}

.btn_one:hover{
  font-size: 40px;
}
.btn_two :hover{
  font-size: 30px;
}

.sidebar_menu .social_media i:hover{
  opacity: 1;
  transform: scale(1.1);
}
#check:checked~.sidebar_menu{
  left: 0;
  
}
#check:checked~.btn_one i{
  opacity: 0;
}
#check:checked~.sidebar_menu .btn_two i{
  opacity: 1;
}

